name: Build Docker Image

on:
  push:
    branches:
      - main
    paths:
      - 'api-rest/**'
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest
    
    steps:
      - uses: actions/checkout@v4
      
      - uses: docker/setup-buildx-action@v3
      
      - uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}
      
      - uses: docker/build-push-action@v5
        with:
          context: ./api-rest
          file: ./api-rest/Dockerfile
          push: true
          tags: developexi/whaileys-api:latest
